/*//Start some basic styling, come back for css structure/user of preprocessor etc.*/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
* {
  box-sizing: border-box;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}

body {
  background-color: hsl(216, 29%, 38%);
}
/****** Browser Default Style Overwrite ******/
h1, h2, h3 {
  font-family: 'Slabo 27px', serif;  
  letter-spacing: .04em;
  color: hsl(200, 50%, 50%);
}
h1 {
  text-align: center;
}
h2 {
  font-size:22px;
}
p, label {
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
input, select {
  background: hsl(243, 20%, 83%)
}
input, button {
  padding:4px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  font-size: 20px;  
}
/*hide spinners on number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

#app-container {
  width: 600px;
  margin: 30px auto 0; 
}

#screen-name-input-box {
  margin: 30px 0 36px;
  text-align: center;
  /*width: 400px;*/
}

#screen-name-input-box input,
#screen-name-input-box button {
  display: inline-block;
  height: 50px;
  margin: 10px 5px;
  text-align: center;
}
#screen-name-input-box input {
  width: 300px;
  /*padding: 4px;*/
}
#screen-name-input-box button {
  width: 50px;
}

/***** Profile Data *****/
#user-profile-box {
  position:relative;
  margin: 0px 0 50px;
  text-align: center;
  color: white;
}
#user-profile-box p {
  margin:0;
  font-size: 20px;
  color: white;
}
#profile-text {
  /*position: relative;*/
  display: inline-block;
  margin:40px;
  padding: 8px;
  text-align: center;
  background-color:hsla(0,0%,0%, .2);
  color: #333;
  border-radius: 10px;
}


/***** Filters Box ******/
#filters-box {
  display: none;
}
#filters-box h2 {
  margin:0;
  text-align: left;
}
#filters-box label {
  font-size: 16px;
}
.input-box {
  display: inline-block;
/*  display:flex;
  flex-direction: row;
  justify-content: space-between;*/
  align-content: flex-end;
  margin-bottom: 8px;
}
.input-box:first-child {
  margin-right: 6px;
}
.input-box label {
  margin-right: 8px;
  padding-top: 6px;
}
#retweet-filter-input {
  width: 46px;
  padding-top: 1px;
  text-align: center;
}
#picture-select {
  height: 32px;
  font-size: 16px;
  border:0;
  color: hsla(0,0%,0%, .60);
}
#picture-select option {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

/****** Tweets ******/
#tweet-list-box {
  margin-top: 20px;
  /*border: 1px solid hsl(0, 0%, 80%);  */
}
.tweet-box:first-child {
  border-top: 1px solid hsl(0, 0%, 60%);
}
.tweet-box {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  /*margin: 10px 0;*/
  padding: 10px 8px;
  border-bottom: 1px solid hsl(0, 0%, 60%);  
}
.tweet-box p {
  margin: 4px 0;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.tweet-date {
  color: hsl(0,0%,0%);
}
.tweet-text {
  color: hsl(0,0%,80%);
}
.tweet-img {
  max-height: 50px;
  padding-left: 10px;
}
