/*//Start some basic styling, come back for css structure/user of preprocessor etc.*/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
* {
  font-family: 'Slabo 27px', serif;
  letter-spacing: .04em;
}

body {
  background-color: hsl(284, 28%, 38%);
}

#app-container {
  width: 500px;
  margin: 15% auto 0; 
}

h1, h2 {
  margin:;
  text-align: center;
  color: hsl(200, 50%, 50%);
}

#screen-name-input-box {
  margin-top: 30px;
  text-align: center;
  /*width: 400px;*/
}

#screen-name-input-box input {
  height: 50px;
  width: 300px;
  margin: 10px;
  padding: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
}
#picture-select {
  font-family: 'Slabo 27px', serif;  
  font-size: 20px;
  border:0;
  color: hsla(0,0%,0%, .80);

}
#picture-select option {
  font-family: 'Slabo 27px', serif;  
}

#user-profile-box {
  margin: 20px 0;
  color: white;
}

.tweet-box {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid hsl(0, 0%, 80%);  
}
.tweet-text {
  margin: 4px 0;
}
